body {
  background-color: #02010a;
  margin: 0;
  color: whitesmoke;
  text-align: center;
}

h1 {
  border-style: 0px;
  font-family: 'Inter', sans-serif;
  font-size: 500%;
  margin:10px;
  margin-top: 0;
}

p {
  border-style: 0px;
  margin: 0 10px 0;
  font-family: 'Rajdhani', sans-serif;
  font-size: 200%;
}

span {
  color: mediumpurple;
}

.init {
  padding-top: 20px;
  font-family: 'Inter', sans-serif;
}

div {
  position: relative;
  margin: 0;
  border: 0;
}

.char {
  border: 0;
  margin: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.g1 {
  width: 15%;
  position: fixed;
  right: 10%;
  bottom: 20%;
}
          