body {
  text-align: center;
  background-color: #0e1316;
  color: whitesmoke;
}

h1 {
  margin: 0 auto 0 auto;
  font-size: 25vw;
  font-family: 'Inter', sans-serif;
}

p {
  margin: 0 auto 0 auto;
  padding-right: 4%;
  padding-left: 4%;
}

hr {
  border-color: #e6f2ff;
  border-style: none;
  border-bottom-style: dotted;
  border-width: 20px;
  width: 15%;
  height: 2vh;
}

.hr1 {
  border-color: #e6f2ff;
  border-style: none;
  border-top-style: dotted;
  border-width: 20px;
  width: 15%;
  height: 2vh;
}

.blank {
  height: 45vh;
}

.htext {
  font-size: 6vw;
  font-family: 'Rajdhani', sans-serif;
}

.pretext {
  padding-top: 5vw;
  font-size: 6vw;
  font-family: 'Inter', sans-serif;
}

.atext {
  color: #a760ff;
}

.char {
  height: 50vh;
  position: fixed;
  bottom: 0;
  right: 0;
}

.g1 {
  height: 10vh;
  position: fixed;
  bottom: 18vh;
  left: 8vw;
}
