body {
  text-align: center;
  background-color: #0e1316;
  color: whitesmoke;
}

h1 {
  margin: 0 auto 0 auto;
  font-size: 25vw;
  font-family: 'Inter', sans-serif;
}

h2 {
  color: #9d4edd;
  font-size: 12vw;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
}

p {
  margin: 0 auto 0 auto;
  padding-right: 4%;
  padding-left: 4%;
}

hr {
  border-color: #e6f2ff;
  border-style: none;
  border-bottom-style: dotted;
  border-width: 3vw;
  width: 15vh;
  height: 2vh;
}

.blank-end-div {
  height: 45vh;
}

.htext {
  font-size: 5vw;
  font-family: 'Rajdhani', sans-serif;
  margin-top: 5vw;
  margin-bottom: 0;
}

.pretext {
  padding-top: 5vw;
  font-size: 6vw;
  font-family: 'Inter', sans-serif;
}

.atext {
  font-size: 6vw;
  color: #a760ff;
  margin-top: 0;
}

.char {
  height: 45vh;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  right: 0;
}

.g1 {
  height: 10vh;
  position: fixed;
  bottom: 18vh;
  left: 8vw;
}

.profile {
  float: left;
  margin: 0 5vw 5vw;
  width: 30vw;
  border-radius: 100%;
}

.username {
  text-align: left;
  font-size: 6vw;
  font-family: 'Rajdhani', sans-serif;
  color: #a760ff;
  padding-top: 5vw;
}

h4 {
  font-size: 3vw;
  text-align: left;
  line-height: 0;
  font-family: 'Rajdhani', sans-serif;
  font-weight: normal;
}

.div-std {
  width: 95vw;
  margin: 7vh auto;
}

.div-socials {
  width: 95vw;
  margin: 15vw auto;
}

.icons {
  width: 30vw;
  border-radius: 100%;
  margin: 0 auto 10vw;
}

.desc {
  text-align: left;
  font-size: 5vw;
  font-family: 'Rajdhani', sans-serif;
}

.fixed-div {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 42vh;
}

.skillsTable {
  width: 100%;
  margin: 10vw 0 15vw;
}

td {
  color: #ced4da;
  border-color: #495057;
  font-family: 'Rajdhani', sans-serif;
  font-size: 4.5vw;
  border-style: solid;
  border-width: .2px;
  padding: 1.5vw;
}

.headCells {
  color: #a760ff;
  background-color: #212529;
  font-size: 4.5vw;
  font-family: 'Happy Monkey', cursive;
  border-color: #343a40;
  border-style: solid;
  border-width: .2px;
  padding: 1.5vw;
}
